In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk
%matplotlib notebook
%matplotlib inline

In [2]:
df = pd.read_csv("titanicdf.csv")

In [3]:
df.head(5)

,ID,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Survived,fam
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S,0,1
1,2,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,1,1
2,3,0,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,1,0
3,4,2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S,1,1
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S,0,0

In [4]:
from sklearn.preprocessing import LabelEncoder

In [6]:
le = LabelEncoder()

In [7]:
le.fit(df["Sex"])

LabelEncoder()

In [8]:
le.classes_

array(['female', 'male'], dtype=object)

In [10]:
Sex_En= le.transform(df["Sex"])

In [13]:
df["gender"] = Sex_En

In [14]:
df.head(5)

,ID,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Survived,fam,gender
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S,0,1,1
1,2,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,1,1,0
2,3,0,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,1,0,0
3,4,2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S,1,1,0
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S,0,0,1

In [15]:
corr_mat = df.corr()

In [16]:
corr_mat["Survived"].sort_values(ascending=False)

Survived    1.000000
Pclass      0.356462
Fare        0.266100
Parch       0.095265
fam         0.045068
ID          0.029526
SibSp      -0.015523
Age        -0.082446
gender     -0.536762
Name: Survived, dtype: float64

In [18]:
from sklearn.preprocessing import OneHotEncoder

In [19]:
hot = OneHotEncoder()

In [22]:
hot_df = pd.DataFrame(hot.fit_transform(df[["gender"]]).toarray())

In [23]:
df = df.join(hot_df)

In [24]:
df.head(5)

,ID,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Survived,fam,gender,0,1
0,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,7.2500,S,0,1,1,0.0,1.0
1,2,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,1,1,0,1.0,0.0
2,3,0,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,1,0,0,1.0,0.0
3,4,2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S,1,1,0,1.0,0.0
4,5,0,"Allen, Mr. William Henry",male,35.0,0,0,8.0500,S,0,0,1,0.0,1.0

In [27]:
df.rename(columns={"0":"Female?"}, inplace=True)

In [ ]:
data.rename(columns={'gdp':'log(gdp)'}, inplace=True)

In [30]:
df.columns

Index([      'ID',   'Pclass',     'Name',      'Sex',      'Age',    'SibSp',
          'Parch',     'Fare', 'Embarked', 'Survived',      'fam',   'gender',
                0,          1],
      dtype='object')

In [31]:
corr_mat = df.corr()

In [32]:
corr_mat["Survived"].sort_values(ascending=False)

Survived    1.000000
0           0.536762
Pclass      0.356462
Fare        0.266100
Parch       0.095265
fam         0.045068
ID          0.029526
SibSp      -0.015523
Age        -0.082446
1          -0.536762
gender     -0.536762
Name: Survived, dtype: float64

### Lets drop all columns asider from top 3 features

In [42]:
df.drop("Parch", axis=1, inplace=True)

In [43]:
df.drop("fam", axis=1, inplace=True)

In [44]:
df.drop("SibSp", axis=1, inplace=True)

In [45]:
df.drop("Age", axis=1, inplace=True)

In [47]:
df.drop(1, axis=1, inplace=True)

In [48]:
df.drop("gender", axis=1, inplace=True)

In [50]:
df.drop("Sex", axis=1, inplace=True)

In [52]:
df.drop("Embarked", axis=1, inplace=True)

In [54]:
df.set_index("ID", inplace=True)

In [55]:
df.head(5)

,Pclass,Name,Fare,Survived,0
ID,,,,,
1,0,"Braund, Mr. Owen Harris",7.2500,0,0.0
2,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",71.2833,1,1.0
3,0,"Heikkinen, Miss. Laina",7.9250,1,1.0
4,2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",53.1000,1,1.0
5,0,"Allen, Mr. William Henry",8.0500,0,0.0

In [56]:
from sklearn.preprocessing import StandardScaler

In [58]:
ss = StandardScaler()

In [60]:
print(ss.fit(df[["Fare"]]))

StandardScaler()

In [61]:
fare = ss.transform(df[["Fare"]])

In [63]:
len(fare)

712

In [64]:
print(ss.mean_)

[34.5672514]

In [65]:
df["FARE"] = fare

In [66]:
df.head(5)

,Pclass,Name,Fare,Survived,0,FARE
ID,,,,,,
1,0,"Braund, Mr. Owen Harris",7.2500,0,0.0,-0.516380
2,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",71.2833,1,1.0,0.694046
3,0,"Heikkinen, Miss. Laina",7.9250,1,1.0,-0.503620
4,2,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",53.1000,1,1.0,0.350326
5,0,"Allen, Mr. William Henry",8.0500,0,0.0,-0.501257

In [67]:
df.drop("Fare", axis=1, inplace=True)

In [68]:
df.columns

Index(['Pclass', 'Name', 'Survived', 0, 'FARE'], dtype='object')

In [71]:
df.rename(columns={0:"Female?"}, inplace=True)

In [72]:
df.columns

Index(['Pclass', 'Name', 'Survived', 'Female?', 'FARE'], dtype='object')

In [74]:
new = df[['Pclass', 'Female?', 'FARE']].copy()

In [75]:
new.head(5)

    Pclass  Female?      FARE
ID
1        0      0.0 -0.516380
2        2      1.0  0.694046
3        0      1.0 -0.503620
4        2      1.0  0.350326
5        0      0.0 -0.501257

In [76]:
y = df["Survived"]

In [78]:
X = new

### splitting data into training and test sets

In [69]:
from sklearn.model_selection import train_test_split

In [79]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.75, random_state=42)

In [80]:
X_train.shape

(534, 3)

In [81]:
X_test.shape

(178, 3)

### TIME TO FEED DATA TO THE MODEL

In [ ]:
# we shall try Stochastic gradient descent first, then random forests and then svm.....

In [82]:
from sklearn.linear_model import SGDClassifier

In [83]:
clf = SGDClassifier(random_state=42)

In [84]:
clf.fit(X_train, y_train)

SGDClassifier(random_state=42)

In [89]:
from sklearn.model_selection import cross_val_score

In [91]:
a = cross_val_score(clf, X_train, y_train, cv=3, scoring='accuracy')

In [92]:
print(a)

[0.73033708 0.81460674 0.7752809 ]

In [94]:
a.mean()

0.7734082397003745

In [95]:
from sklearn.model_selection import cross_val_predict

In [96]:
y_train_pred = cross_val_predict(clf, X_train, y_train, cv = 3)

In [97]:
from sklearn.metrics import confusion_matrix

In [98]:
confusion_matrix(y_train, y_train_pred)

array([[266,  59],
       [ 62, 147]], dtype=int64)

In [99]:
from sklearn.metrics import recall_score, precision_score, f1_score

In [100]:
recall_score(y_train, y_train_pred)

0.7033492822966507

In [101]:
precision_score(y_train, y_train_pred)

0.7135922330097088

In [102]:
f1_score(y_train, y_train_pred)

0.7084337349397591

In [ ]:
# we should try random forests too

In [104]:
from sklearn.ensemble import RandomForestClassifier

In [105]:
rfc = RandomForestClassifier(random_state=42)

In [106]:
rfc.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [107]:
b = cross_val_score(clf, X_train, y_train, cv=3, scoring='accuracy')

In [108]:
print(b)

[0.73033708 0.81460674 0.7752809 ]

In [109]:
y_train_pred = cross_val_predict(rfc, X_train, y_train, cv = 3)

In [110]:
confusion_matrix(y_train, y_train_pred)

array([[274,  51],
       [ 63, 146]], dtype=int64)

In [111]:
print(recall_score(y_train, y_train_pred))

0.6985645933014354

In [112]:
precision_score(y_train, y_train_pred)

0.7411167512690355

In [113]:
f1_score(y_train, y_train_pred)

0.7192118226600985

In [115]:
# random forest classifier is slightly better than SGD, next up, support vector machine

In [116]:
from sklearn import svm

In [130]:
s = svm.SVC(kernel="linear", random_state=42)

In [131]:
s.fit(X_train, y_train)

SVC(kernel='linear', random_state=42)

In [132]:
c = cross_val_score(s, X_train, y_train, cv=3, scoring='accuracy')

In [133]:
print(c)

[0.76404494 0.83146067 0.7752809 ]

In [143]:
c.mean()

0.7902621722846441

In [134]:
y_train_pred = cross_val_predict(s, X_train, y_train, cv=3)

In [135]:
f1_score(y_train, y_train_pred)

0.7200000000000001

In [123]:
#lets try logistic regression as our last model

In [137]:
from sklearn.linear_model import LogisticRegression

In [138]:
lr = LogisticRegression()

In [139]:
lr.fit(X_train, y_train)

LogisticRegression()

In [140]:
d = cross_val_score(lr, X_train, y_train, cv=3)

In [141]:
print(d)

[0.75280899 0.83146067 0.7752809 ]

In [142]:
d.mean()

0.7865168539325843

In [144]:
# support vector machine algo has worked the best so far, lets go along with it

### hyper parameter tuning

In [145]:
from sklearn.model_selection import GridSearchCV

In [146]:
parameters = [{'C': [1, 10, 100, 1000], 'kernel': ['linear']},
              {'C': [1, 10, 100, 1000], 'kernel': ['rbf'], 'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]}]
grid_search = GridSearchCV(estimator = s,
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = 10,
                           n_jobs = -1)
grid_search = grid_search.fit(X_train, y_train)

In [147]:
accuracy = grid_search.best_score_

In [148]:
print(accuracy)

0.7903913347309575